#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;

}

#home{
    height: 386px;
    padding: 3px 68px;
}
#home::before{
    height: 524px;
}
#home p{
    font-size: 13px;
}

#services{
    flex-direction: column;
}

#services.box{
    padding: 14px;
    margin: 2px;
    border-radius: 28px;
    margin-bottom: 20px;
    
}

#clients{
    flex-wrap: wrap;

}
#clients img{
    width: 66px;
    padding: 18px;
    height: auto;
}




.h-primary{
    font-size: 26px;
}

.btn{
    padding: 4px 8px;
}